{
  "parser": "babel-eslint",
  "plugins": [
    "prettier",
    "import",
    "react"
  ],
  "extends": [
    "standard",
    "plugin:import/errors",
    "plugin:import/warnings",
    "plugin:react/recommended",
    "prettier",
    "prettier/react",
    "prettier/standard"
  ],
  "rules": {
    "prettier/prettier": "error",
    "react/prop-types": 0,
    "react/display-name": 0
  },
  "globals": {
    "graphql": true
  }
}
