
body {
  font-family: 'Karla', sans-serif;
}

/* Buttons */
button, button:focus, .primary, .primary:hover, .secondary, .thirdary, .accent {
  color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.18);
  padding: 12px 30px 12px 30px;
  margin: 5px 0 20px 0;
  font-size: 11px;
  font-family: "Lato", Arial, Helvetica, sans-serif; font-weight:600;
  text-transform: uppercase;
  line-height: 1;
  letter-spacing:1px;
  display: inline-block;
  transition: all 0.2s ease 0s;
  cursor: pointer;
}

/* Colors */
.primary {
  background-color: #3a2a6c;
}

.primary:hover, .primary:focus {
  background-color: #544585;
  text-decoration: underline;
}

.secondary {
  background-color: #4278bc;
}

.secondary:hover, .secondary:focus {
  background-color: #6493CF;
}

.thirdary {
  background-color: #b23f90;
}

.thirdary:hover, .thirdary:focus {
  background-color: #C962AA;
}

.accent {
  background-color: #83caf0;
}

.accent:hover, .accent:focus {
  background-color: #B1E0F9;
}

.bordered-content {
  background: #fff;
  padding: 40px 45px 30px;
  position: relative;
  margin-bottom: 30px;
}

.bordered-content h5, .bordered-content h4, .bordered-content h3 {
  margin-top: 0;
  margin-bottom: 10px;
}

.image-wrapper img {
  position: relative;
  height: auto;
  width: 100%;
  z-index: 9;
  box-shadow: #fff 0 0 0;
}
